@import url("https://fonts.googleapis.com/css?family=Marck+Script:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playwrite+AU+SA:&display=swap");

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

li {
	list-style: none;
}

a,
a:visited {
	text-decoration: none;
	color: var(--null-color_body);
}

a:hover {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

img {
	vertical-align: top;
}

html,
body {
	height: 100%;
}

body {
	font-size: var(--null-font-size_body);
	line-height: 1;
	color: var(--null-color_body);
	font-family: var(--null-font-family_body);
	background-color: var(--null-bg-color_body);
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}


[class*="__container"] {
	background-color: var(--null-bg-color_container);
	max-width: var(--null-max-width_container);
	padding: var(--null-pading_container);
	margin: 0 auto;
}

:root {
	--null-max-width_container: 80vw;
	--null-pading_container: 0px 15px;
	--null-bg-color_container: #a0959515 // none;;
	--null-font-size_body: 16px;
	--null-font-family_body: "Marck Script";
	--null-bg-color_body: #959090 /* #2b303b*/;
	--null-color_body: #fff;
}

.header__title {
	padding: 20px;
	font-size: 50px;
	text-align: center;
}
#ttt {
	width: 300px;
	height: 300px;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 20px;
	border: 2px solid #1f2675;
	background-color: #77608d;
}
#ttt > div {
	height: 100px;
	display: flex;
	line-height: 2;
	font-size: 50px;
	flex: 0 0 33.333%;
	align-items: center;
	justify-content: center;
	border: 1px solid #000;
	background-color: #523d38;
}
#ttt > div:nth-child(odd) {
	background-color: #794f45;
}
#ttt > div:hover {
	filter: brightness(1.1);
}

.button-start-new-game {
	padding: 10px 15px;
	background-color: #7272725f;
	font-family: "Playwrite AU SA";
	border-radius: 8px;
	transform: translate(65%);
	font-weight: 700;
}
.button-start-new-game:hover {
	cursor: pointer;
}
.out {
	font-size: 25px;
	line-height: 1.5;
	margin-bottom: 15px;
	width: 300px;
	text-align: center;
}